/* mobile first */

html {
    box-sizing: border-box;
}

.note-editor {
    display: none;
 }

 .home-link {
    cursor: pointer;
    height: 30px;
 }

.leftnav {
    text-align: center;
}

 .navbar {
     overflow: hidden;
     background-color: white;
     position: fixed;
     top: 0;
     width: 100%;
     box-shadow: 0 0.9px 4px 0 rgba(0,0,0,0.05);
     z-index: 99;
     /*padding: 1.8em 3.6em;*/
 }

.navbar ul li:first-child {
    float:left;
}

.navbar ul li {
    list-style: none;
    margin: 17px;
    float: right;
}

 .nav-item-login, .nav-demo-login {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding-right: 28px;
    font-size: 9pt;
    letter-spacing: 1px;
 }

 .nav-item-login:hover, .nav-demo-login:hover {
     color: #525252
 }

 .nav-item-create {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: none;
    background-color: black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size:9pt;
    letter-spacing: 1px;
 }

 .nav-item-create:hover {
    background-color:#525252;
 }

 main {
    padding: 60px 0;
}

main h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    font-weight: 400;
    font-size: 23pt;
    margin-bottom: 16px;
    letter-spacing: 2px;
    line-height: 28pt;
}

main h2 {
    font-weight: 200;
    font-size: 10pt;
    margin-bottom: 21px;
    letter-spacing: 1.2px;
}

 .parallax-bg {
     background-image: url(https://res.cloudinary.com/shirleykiang/image/upload/v1531941966/taipei101reversed.png);
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0 12px 0 12px;
     height: 85vh;
     background-position: left;
     background-attachment: fixed;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     min-width: 1050px;
 }

 .title-caption {
    padding: 0 0 100px 44px;
 }

 .recipes-section {
     text-align: center;
 }

 .recipes-section h3 {
     font-family: 'Montserrat', sans-serif;
     font-weight: 200;
     font-size: 14pt;
     padding-top: 100px;
     padding-bottom: 80px;
 }

 .recipes-index {
     margin: auto;
     width: 80%;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
 }

.recipe-container {
    position: relative;
    cursor: pointer;
    width: 60vh;
    height: 40vh;
    overflow: hidden;
    margin: 4.5vh;
 }

 .recipe-container img {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
 }

.recipes-index span {
    display: block;
}

.recipe-hover-title {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.recipe-container:hover img {
    opacity: 0.3;
  }
  
.recipe-container:hover .recipe-hover-title {
    opacity: 1;
  }

  .recipes-index .recipe-category {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
font-size: 11pt;
margin-bottom: 3px;
letter-spacing: 1px;
line-height: 12pt;
  }

  .recipes-index .recipe-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13.4pt;
    line-height: 17.4pt;
    text-transform: uppercase;
    letter-spacing: 1px;
      }

/* LOG IN PAGE */


.single-nav-logo {
    display: inline-block;
    margin-left: 5.5vh;
    margin-top: 5.5vh;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 462px;
}

.session-page form {
    margin-top: -145px;
    padding: 20px 0;
    width: 330px;
    text-align: center;
}

.session-page legend {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20pt;
    color: white;
    margin-bottom: 20px;
}

.session-page input {
    border: 0;
	outline: 0;
	background: transparent;
    border-bottom: 1px solid #525252;
    color: #757575;
    line-height: 23pt;
    width: 100%;
    padding-left: 6px;
    
}

.session-page input::placeholder, .js-error-msg {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10.5pt;
    letter-spacing: 2px;
}

.js-error-msg {
    margin-top: 20px;
    color: red;
}

.session-page input {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 10.5pt;
    padding-left: 6px;
    letter-spacing: 2px;
}

.switch-form-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 9pt;
    cursor: pointer;
    color: #818285;
    margin-top: 20px;
    transition: 0.3s;
}

.login-button, .signup-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: none;
    background-color: white;
    padding: 13px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12pt;
    letter-spacing: 1.5px;
    margin: 20px 0;
 }

 .login-button:hover {
    background-color:#525252;
    color: white;
 }

 .switch-form-button:hover {
     font-weight: 100;
     color: #525252;
 }

 /* RECIPE PAGE */

 .recipe-page-container {
     padding: 55px 85px;
 }

 .recipe-page-heading.category, .recipe-page.title {
    display: block;
 }

 .recipe-page-heading {
     font-size: 14pt;
     letter-spacing: 1px;
     margin-top: 50px;
     margin-bottom: 5px;
 }

 .recipe-image-container {
    width: 82vh;
    height: 57vh;
    overflow: hidden;
 }

 .recipe-image-container img {
    display: block;
    width: 100%;
 }

 .recipe-page-container li {
     margin-top:5px;
 }
 .recipe-page.title {
     font-family: 'Open Sans', sans-serif;
     font-weight: 600;
     font-size: 27pt;
     text-transform: uppercase;
     letter-spacing: 4px;
     margin-top: 5px;
     margin-bottom: 21px;
 }

 .recipe-page-heading, .recipe-page.servings, .recipe-page.ingredients, .recipe-page.directions, .recipe-page.notes {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
 }

 .recipe-page.servings {
    font-size: 19pt;
}

 .recipe-page.ingredients, .recipe-page.directions {
     font-size: 13pt;
     letter-spacing: 1px;
 }

.recipe-page.notes {
    font-size: 8pt;
    letter-spacing: 1px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.note-wrapper {
    position: relative;
    width: 20vh;
    height: 20vh;
    background-color: #f6f7f8;
    max-width: 200px;
    max-height: 200px;
    margin-right: 2vh;
    margin-top: 2vh;
 }

 
 .note-text {
    opacity: 1;
    display: block;
    width: 87%;
    margin: auto;
    font-size: 9.5pt;
    transition: .4s ease;
    padding: 12px;
 }

.note-editor-button, .note-delete {
    display: inline-block;
    cursor: pointer;
    border: none;
}

.hide {
    display: none;
 }

.note-hover-container {
    background-color: #818285;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-wrapper:hover {
    opacity: 0.2;
  }
  
.note-wrapper:hover .note-hover-container {
    opacity: 1;
  }

  .add-note-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 20vh;
    height: 20vh;
    background-color: #f6f7f8;
    max-width: 200px;
    max-height: 200px;
    font-size: 40pt;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 2vh;
  }

  .add-note-button:hover {
      background-color: #97999c;
      color: white;
  }

.note-hover-container textarea {
    width: 20vh;
    height: 20vh;
    border: none;
    resize: vertical;
}
.ingredients-list, .directions-list {
    font-size: 11pt;
    padding: 35px;
}


/* NOTE FORM PAGE */

.note-form-page {
    padding: 90px 85px;
}

.note-form-content {
    width: 70%;
    margin: auto;
    max-width: 590px;
}

.note-form-head {
    width: 100%;
    margin-bottom: 30px;
}

.note-form-head h1 {
    font-size: 25pt;
    letter-spacing: 4px;
}

.note-form-head h2 
    font-size: 9pt;
    letter-spacing: 1.3px;
    float: right;
}

.note-form-head h1, .note-form-head h2 {
    display: inline;
    width: 50%;
}

.note-form-page form {
    background-color: white;
    padding: 50px 70px;
}

.note-form-content textarea, .note-form-content textarea::placeholder, .recipe-form-page textarea, .recipe-form-page textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #757575;
    font-size: 9pt;
    letter-spacing: 1.5px;
}

.note-form-content textarea, .recipe-form-page textarea {
    border: none;
    resize: vertical;
    display: block;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 10px;
}

.note-form-title, .submit-note-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.submit-note-form  {
    font-weight: 200;
    border: none;
    background-color: black;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 8pt;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 35px;
 }

 .submit-note-form:hover {
    background-color:#525252;
 }


/* RECIPE FORM PAGE */

.recipe-form-page {
    padding: 90px 85px;
}

.recipe-form-content {
    width: 83%;
    margin: auto;
    max-width: 590px;
}

.recipe-form-head {
    width: 100%;
    margin-bottom: 30px;
}

.recipe-form-head h1 {
    font-size: 25pt;
    letter-spacing: 4px;
    display: inline;
    width: 50%;
}

.recipe-form-page form {
    background-color: white;
    padding: 25px 70px;
}

.submit-recipe-form  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: none;
    background-color: black;
    padding: 13px 52px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 8pt;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 16px;
 }

 .submit-recipe-form:hover {
    background-color:#525252;
 }

 .recipe-form-content label, .recipe-form-content select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    display: block;
    margin-top: 36px;
 }

 .recipe-form-content select {
    display: none;
    margin-top: 17px;
}

.recipe-form-content input, .recipe-form-content select {
    border: 0;
    outline: 0;
    font-weight: 200;
    letter-spacing: 1.5px;
    display: block;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
    color: #757575;
    letter-spacing: 1.5px;
    line-height: 23pt;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 9px;
    padding-left: 8px;
}



.recipe-title {
    margin-top:0px;
}

.recipe-form-content input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 9pt;
    letter-spacing: 1.5px;
    display: inline-block;
}

.recipe-form-content select {

}

 /*
 @media all and (max-width: 1690px) { ...}
 @media all and (max-width: 1280px) { ...}
 @media all and (max-width: 980px) { ... }
 @media all and (max-width: 736px) { ... }
 @media all and (max-width: 480px) { ... }
 */